.swipers {
    width: 100vw;
    height: max-content;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-items: center;
}

.swipers-slider {
    min-width: 384px;
    display: flex;
    align-self: center;
    justify-content: center;
}


/*.swipers-slide:nth-child(2n) {*/
/*  width: 40%;*/
/*}*/

/*.swipers-slide:nth-child(3n) {*/
/*  width: 20%;*/
/*}*/